body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Michroma";
  font-size: 16px;
  font-weight: 700;
  background-color: #006a3a;  
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  border: skyblue 1px solid; 
}

.container {
  width: auto;
  margin: auto;
  border: skyblue 1px solid;
}

.nav_checkbox {
  display: grid;
  grid-template-columns: 40px 380px 2fr;
  grid-template-rows: 60px;
  align-items: center;
  padding: 0px 0px;
  border: skyblue 1px solid; 

}

.logo {
  /* margin: 0px 0px 10px 10px; */
  border: skyblue 1px solid;
  text-align: center;
  align-items: center;
}

.menuSpacer{
  border: skyblue 1px solid;
}

.tab-nav {
  outline: none;
  display: none;
}

.label {
  display: none;
  color: rgb(144, 20, 20);
}

.burger {
  width: 35px;
  height: 5px;
  background-color: #835656;
  margin-top: 5px;
}

.content_nav {
  grid-column: 4;
  list-style: none;
  margin: 0;
  padding: 0;
  border: skyblue 1px solid;  

}

.content_nav li {
  display: inline-block;
  padding-right: 5px;
  border: skyblue 1px solid;

}

.content_nav li a {
  text-decoration: none;
  color: #556970;
  position: relative;
  /* display: none; */
}

.content_nav li a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #556970;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
  /* display: none; */
}

.content_nav li a:hover::after {
  transform: scale(1, 1);
}
/* 
@media screen and (max-width: 1280px) {
  .container {
    width: auto;
    margin: auto;
    border: skyblue 1px solid; 
  
  }
} */

@media screen and (max-width: 950px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Michroma";
    font-size: 12px;
    background-color: #006a3a;
  }

  .container {
    width: 100%;
  }
  .nav_checkbox {
    display: grid;
    grid-template-columns: 40px 260px 2fr;
    grid-template-rows: 60px;
    align-items: center;
    padding: 0px 0px;
  }
}

@media screen and (max-width: 580px) {
  .label {
    display: grid;
    cursor: pointer;
    grid-column: 4;
    padding-right: 10px;
  }

  .content_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
  }

  .nav_checkbox input:checked ~ .content_nav {
    max-height: 500px;
  }

  .content_nav li {
    padding: 15px 0px;
  }
}
















/* Main Area Layout */

.container2 {
  width: 100%;
  /* margin: 0px; */
  height: 400vh;
  background: white;
  display: grid;
  grid-template-areas:
    "myArea1 myArea2 myArea3"
    "myArea4 myArea4 myArea4"
    "myArea5 myArea5 myArea5"
    "myArea6 myArea6 myArea6"
    "myArea7 myArea7 myArea7"
    "myArea8 myArea8 myArea8"
    "myArea9 myArea9 myArea9";
  grid-template-rows: 500px 160px 600px 1300px 750px 800px 300px;
  grid-template-columns: 2fr 2.5fr 2fr;
}

.item {
  background: white;
  color: #090224;
  font-size: 14px;
  padding: 5px;
  border: skyblue 1px solid; 
  text-align: center;
  font-family: "Michroma";
}


.link {
  font-weight: bolder;
  font-size: 12px;
  color: #330dca;
}

a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

.item-1 {
  grid-area: myArea1;
  text-align: right;
  position: relative; /* Ensure the parent div is relatively positioned */
}

.item-2 {
  grid-area: myArea2;
  vertical-align: middle;
  text-align: center;
}

.item-3 {
  grid-area: myArea3;

  text-align: left;
  position: relative; /* Ensure the parent div is relatively positioned */
}

.item-4 {
  grid-area: myArea4;
  vertical-align: middle;
}

.item-5 {
  grid-area: myArea5;
  vertical-align: middle;
  text-align: center;
}

.item-6 {
  grid-area: myArea6;
  vertical-align: middle;
  text-align: center;
}

.item-7 {
  grid-area: myArea7;
  vertical-align: middle;
  text-align: center;
}

.item-8 {
  grid-area: myArea8;
  vertical-align: middle;
  text-align: center;
}

.item-9 {
  grid-area: myArea9;
  vertical-align: middle;
  text-align: center;
}

.content_section {
  width: 100%;
  margin: auto;
  background: #006a3a;
}

/* 






















 */

@media screen and (max-width: 950px) {
  .container2 {
    background: #006a3a;
    width: 90%;
    /* margin: 0px; */
    height: 200vh;
    margin: auto;

    display: grid;
    grid-template-areas:
      "myArea1 myArea2 myArea3"
      "myArea4 myArea4 myArea4"
      "myArea5 myArea5 myArea5"
      "myArea6 myArea6 myArea6"
      "myArea7 myArea7 myArea7"
      "myArea8 myArea8 myArea8"
      "myArea9 myArea9 myArea9";
    grid-template-rows: 430px 140px 600px 1100px 800px 800px 200px;

    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .item {
    /* background: #FFFFFF; */
    color: #090224;
    font-size: 10px;
    padding: 5px;
    /* border: skyblue 1px solid; */
    text-align: center;
    font-family: "Michroma";
    background: #006a3a;
  }

  .link {
    font-weight: bolder;
    font-size: 10px;
    color: #330dca;
  }
}
/* 























 */

@media screen and (max-width: 560px) {
 
  .container2 {
    height: 100vh;
    width: 100%;
    /* margin: auto; */

    display: grid;
    /* grid-template-columns: 0.5fr; */
    grid-template-areas:
      "myArea1 myArea2 myArea3"
      "myArea4 myArea4 myArea4"
      "myArea5 myArea5 myArea5"
      "myArea6 myArea6 myArea6"
      "myArea7 myArea7 myArea7"
      "myArea8 myArea8 myArea8"
      "myArea9 myArea9 myArea9";
    grid-template-rows: 280px 90px 430px 1100px 600px 700px 300px;
  }

  .item {
    /* background: #FFFFFF; */
    color: #090224;
    font-size: 10px;
    padding: 5px;
    /* border: skyblue 1px solid;    */
    text-align: center;
    font-family: "Michroma";
  }
 
  .link {
    font-weight: bolder;
    font-size: 9px;
    color: #330dca;
  }
 
  .item-1 {
    grid-area: myArea1;
    vertical-align: middle;
    text-align: center;
  }

  .item-2 {
    grid-area: myArea2;
    vertical-align: middle;
    text-align: center;
  }

  .item-3 {
    grid-area: myArea3;
    vertical-align: middle;
    text-align: center;
  }

  .item-4 {
    grid-area: myArea4;
    text-align: center;
  }

  .item-5 {
    grid-area: myArea5;
    text-align: center;
  }
}
